<div id="sign-in-form-messages"
  {{ if .IsOob }}
  hx-swap-oob="true"
  {{ end }}
>
  {{ if .Errors }}
  <div class="alert alert-danger">
    <ul>
      {{ range $error := .Errors }}
        <li>{{ $error }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>

<form method="POST" hx-post="/htmx/sign-in">
  <fieldset class="form-group">
    <input type="text" id="sign-in-email" class="form-control form-control-lg" name="email" placeholder="Email">
  </fieldset>
  <fieldset class="form-group">
    <input type="password" id="sign-in-password" class="form-control form-control-lg" name="password" placeholder="Password">
  </fieldset>
  <button class="btn btn-lg btn-primary pull-xs-right">
    Sign in
  </button>
</form>