<form id="article-comment-form" class="card comment-form"
  hx-post="/htmx/articles/{{ .Article.Slug }}/comments" 
  hx-target="#article-comments-wrapper" hx-swap="afterbegin show:top"
  
  {{ if .IsOob }}
  hx-swap-oob="true"
  {{ end }}
>
  <div class="card-block">
    <textarea class="form-control" placeholder="Write a comment..." rows="3" name="comment"></textarea>
  </div>
  <div class="card-footer">
    <img src="{{ .Article.User.Image }}" class="comment-author-img" />
    <button class="btn btn-sm btn-primary">
      Post Comment
    </button>
  </div>
</form>