<div class="card">
  <div class="card-block">
    <p class="card-text">{{ .Comment.Body }}</p>
  </div>
  <div class="card-footer">
    <a href="/users/{{ .Comment.User.Username }}"
      hx-push-url="/users/{{ .Comment.User.Username }}"
      hx-get="/htmx/users/{{ .Comment.User.Username }}"
      hx-target="#app-body"
      class="comment-author"
    >
      <img src="{{ .Comment.User.Image }}" class="comment-author-img" />
    </a>
    &nbsp;
    <a href="/users/{{ .Comment.User.Username }}"
      hx-push-url="/users/{{ .Comment.User.Username }}"
      hx-get="/htmx/users/{{ .Comment.User.Username }}"
      hx-target="#app-body"
      class="comment-author"
    >
      {{ .Comment.User.Name }}
    </a>
    <span class="date-posted">{{ .Comment.GetFormattedCreatedAt }}</span>
  </div>
</div>