<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 col-md-offset-1 col-xs-12">

        <div id="form-message">
          {{ template "editor/form-message" . }}
        </div>

        <form method="post"

          {{ if .HasArticle }}
            hx-patch="/htmx/editor/{{ .Article.Slug }}"
          {{ else }}
            hx-post="/htmx/editor"
          {{ end }}

          hx-target="#app-body"
        >
          <fieldset class="form-group">
            <input type="text" name="title" class="form-control form-control-lg" placeholder="Post Title"
              value="{{ .Article.Title }}"
            >
          </fieldset>
          <fieldset class="form-group">
            <input type="text" name="description" class="form-control form-control-md" placeholder="What's this article about?"
                value="{{ .Article.Description }}"
            >
          </fieldset>
          <fieldset class="form-group">
            <textarea rows="8" name="content" class="form-control" placeholder="Write your post (in markdown)">{{ .Article.Body }}</textarea>
          </fieldset>
          <fieldset class="form-group">
            <input type="text" name="tags" class="form-control tagify--outside" placeholder="Enter tags"
              {{ if .HasArticle }}
                value="{{ .Article.GetTagsAsCommaSeparated }}"
              {{ end }}
            >
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right">
            Publish Article
          </button>
        </form>
      </div>
    </div>
  </div>
</div>